drc_run_*
lvs_run_*
drc_*.tcl
ext_*.tcl
pex_*.tcl
*.vcd
*.raw
*.log
*.pyc
*.ext
.DS_Store
__pycache__/
runs/
backups/
sim_build/
/schematic/xschem/simulations
/testbenches/xschem/simulations
/macros/*/schematic/xschem/simulations
/macros/*/testbenches/xschem/simulations
/macros/*/verification/cace/_runs
/macros/*/verification/cace/netlist
/macros/*/verification/cace/templates/simulations
/macros/counter/flow/final
/macros/counter/fpga/*/build/
save_from_claudes_fuckup
