drc_run_*
lvs_run_*
drc_*.tcl
ext_*.tcl
pex_*.tcl
*.vcd
*.raw
*.log
*.pyc
*.ext
.DS_Store
__pycache__/
runs/
backups/
sim_build/
/schematic/xschem/simulations
/testbenches/xschem/simulations
/macros/OgueyAebischerBias/verification/cace/_runs
/macros/OgueyAebischerBias/verification/cace/_docs
/macros/OgueyAebischerBias/verification/cace/netlist/schematic/*.spice
/macros/inverter/verification/cace/_runs
/macros/inverter/verification/cace/_docs
/macros/inverter/verification/cace/netlist
/macros/inverter/verification/cace/templates/simulations
/macros/inverter/schematic/xschem/simulations
/macros/inverter/testbenches/xschem/simulations
/macros/counter/schematic/xschem/simulations
/macros/counter/testbenches/xschem/simulations
/macros/counter/flow/final
/macros/counter/fpga/*/build/
save_from_claudes_fuckup
